* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

main {
  position: relative;
  display: flex;
  align-items: center;
  margin: auto;
  width: 100%;
  margin-top: 2rem;
  justify-content: center;
  column-gap: 3rem;
  padding: 2rem;
  padding-block: min(20vh, 3rem);
  background-image: url("https://img.freepik.com/free-vector/white-abstract-wallpaper_23-2148830026.jpg");
  background-size: 100%;
  opacity: 95%;
}

main div {
  width: 100%;
}

main>div span {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1rem;
  color: #717171;
}


main>div h1 {
  text-transform: capitalize;
  letter-spacing: 0.8px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 4rem;
  background-color: #005baa;
  background-image: linear-gradient(45deg, #005baa, #000000);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

main>div hr {
  display: block;
  background: #005baa;
  height: 0.25rem;
  width: 6.25rem;
  border: none;
  margin: 1.125rem 0 1.875rem 0;
}

main>div p {
  line-height: 1.6;
}

main button {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #717171;
  font-weight: 500;
  background: #fff;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

main>div>button {
  border: 2px solid #c2c2c2;
  margin-top: 2.188rem;
  padding: 0.625rem 1.875rem;
}

main>div>button:hover {
  border: 0.125rem solid #005baa;
  color: #005baa;
}

.swiper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
  box-sizing: content-box;
  align-items: center;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: #fff;
}

.swiper-pagination {
  bottom: 1.25rem !important;
}

.swiper-slide {
  height: 18rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: self-start;
  transition: all 0.3s ease-in-out;
  position: relative;
  z-index: 1;

}

.swiper-slide-active {
  height: 25rem;
  width: 50rem;
  z-index: 10;
  
}

.swiper-slide h2 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4;
  margin-bottom: 0.625rem;
  padding: 0 0 0 1.563rem;
  text-transform: uppercase;
}

.swiper-slide h2,
.swiper-slide p,
.swiper-slide a {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.swiper-slide-active h2,
.swiper-slide-active p,
.swiper-slide-active a {
  opacity: 1;
}

.swiper-slide p {
  color: #dadada;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding: 0 1.563rem;
  line-height: 1.6;
  font-size: 0.75rem;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.swiper-slide a {
  margin: 1.25rem 1.563rem 3.438rem 1.563rem;
  padding: 0.438em 1.875rem;
  font-size: 0.9rem;
}

.swiper-slide a:hover {
  color: #005baa;
}

.swiper-slide--one {
  background-color: linear-gradient(to top, #0f2027, #203a4300, #2c536400);
  background-image: url("/Images/banner1.jpg");
  background-size: cover;
  background-position: center;
}

.swiper-slide--two {
  background-color: linear-gradient(to top, #0f2027, #203a4300, #2c536400);
  background-image: url("/Images/banner2.png");
  background-size: cover;
  background-position: center;
}

.swiper-slide--three {
  background-color: linear-gradient(to top, #0f2027, #203a4300, #2c536400);
  background-image: url("/Images/banner3.png");
  background-size: cover;
  background-position: center;
}

.swiper-slide--four {
  background-color: linear-gradient(to top, #0f2027, #203a4300, #2c536400);
  background-image: url("/Images/banner1.jpg");
  background-size: cover;
  background-position: center;
}

.swiper-slide--five {
  background-color: linear-gradient(to top, #0f2027, #203a4300, #2c536400);
  background-image: url("/Images/banner2.png");
  background-size: cover;
  background-position: center;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}

@media screen and (max-width: 1440px) {
  .swiper {
    width: 85%;
  }
  main>div h1 {
    font-size: 50px;
  }
}

@media screen and (max-width: 1024px) {
  main>div h1 {
    font-size: 30px;
  }
  main>div p {
    font-size: 0.8rem;
  }
  main>div> button {
    padding: 0.600rem 1rem;
    font-size: 0.8rem;
  }
  .swiper-slide-active {
    height: 20rem;
    z-index: 10;
  }
}

@media screen and (max-width: 768px) {
  main {
    display: flex;
    align-items: center;
    padding: 3rem;
    
  }
  main>div h1 {
    font-size: 30px;
  }

  .swiper-slide-active {
    height: 20rem;
    z-index: 10;
  }
  

  .bg,
  .bg2 {
    opacity: 0.1;
  }
}

@media screen and (max-width: 428px) {
  main {
    flex-direction: column;
    padding: 2rem 1rem;
    text-align: center;
  }

  main > div span {
    font-size: 0.9rem;
  }

  main > div h1 {
    font-size: 1.8rem;
  }

  main > div p {
    font-size: 0.8rem;
    line-height: 1.4;
    margin-bottom: 1rem;
  }

  main > div > button {
    font-size: 0.75rem;
    padding: 0.5rem 1.2rem;
  }

  .swiper {
    width: 100%;
   
  }

  .swiper-slide {
    height: 14rem;
  }

  .swiper-slide-active {
    height: 18rem;
  }

  .swiper-slide h2 {
    font-size: 1.2rem;
  }

  .swiper-slide p {
    font-size: 0.7rem;
    -webkit-line-clamp: 3;
  }

  .swiper-slide a {
    font-size: 0.8rem;
  }

  .swiper-pagination {
    bottom: 0.8rem !important;
  }

  .mySwiper {
    width: 100%;
    padding-top: 20px;
  }
}


