.input-container {
	display: flex;
}

::placeholder {
  color: #757575;
  opacity: 1;
}

.search-input {
  background: #EEEEEE;
  color: #212121;
	vertical-align: middle;
  font-size: 16px;
  line-height: 2;
  width: 50%;
  padding: 10px 20px;
  border-top-left-radius: 10px;  
  border-bottom-left-radius: 10px;
  border: 0;
  outline: none;
  box-shadow: inset 0 -1px 1px -1px #CCCCCC, inset 0 1px 1px -1px #CCCCCC, inset 1px 0 1px -1px #CCCCCC;
}

.search-submit {
  background: #2d58c4;
  color: #FFFFFF;
	vertical-align: middle;
  padding: 0 20px;
  border: 0;
  font-size: 10px;
  outline: none;
  cursor: pointer;
  border-top-right-radius: 10px;  
  border-bottom-right-radius: 10px;

}

.search-submit:hover {
  background: #AB47BC;
}

.search-submit i {
  font-size: 24px;
}


@media screen and (max-width: 1440px) {
  .search-input {
    width: 55%;
  }
  
}
@media screen and (max-width: 1024px) {
  .search-input {
    width: 60%;
  }
  
}

@media screen and (max-width: 768px) {
  .search-input {
    width: 70%;
  }
  
}

@media screen and (max-width: 428px) {
  .search-input {
    width: 50%;
  }
  
}