#myImg {
    border-radius: 0px;
    cursor: pointer;
    padding: 3px;
    transition: 0.3s;
  }
  
  #myImg:hover {
    opacity: 0.7;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 9999;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
  }
  
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  .modal-content,
  #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {
      transform: scale(0)
    }
    to {
      transform: scale(1)
    }
  }
  
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 700px) {
    .modal-content {
      width: 100%;
    }
  }
  
  .row-pg {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 4px;
    padding-top: 3.4%;

  }
  
  .column-pg {
    -ms-flex: 25%; 
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    flex-direction: column;
    column-gap: 25px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    padding: 10px;
  }
  @media screen and (max-width: 600px) {
    .enap-gallery-img {
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 5px;
      padding-bottom: 5px;
      }
  }
  @media screen and (max-width: 800px) {
    .column-pg {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
      column-gap: 5px;
      flex-direction: column;
    }
    .row-pg {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .column-pg {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
      column-gap: 10px;
      flex-direction: column;
    }
    .row-pg {
      padding-left: 15px;
      padding-right: 15px;
    }
  }