@tailwind base;
@tailwind components;
@tailwind utilities;

.page {
    margin-top: 10%; 
}
.btn {
    background: linear-gradient(90deg, #2563eb  0%, #00226b 100%);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}

.btn:hover {
    background: linear-gradient(90deg, #00226b  0%, #2563eb 100%);
}
@media screen and (max-width: 428px) {
  .btn{
    padding: 5px 8px;
    font-size: 12px;
  }
}
@keyframes spin-slow {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .animate-spin-slow {
    animation: spin-slow 5s linear infinite;
  }
  