.auth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .auth-box {
    position: relative;
    background-color: white;
    border: 1px solid #e5e7eb;
    padding: 1rem;
    width: 60vh;
    border-radius: 0.75rem;
    overflow: hidden;
    box-shadow: 
      0px 12px 28px 0px rgba(0, 0, 0, 0.2), 
      0px 2px 4px 0px rgba(0, 0, 0, 0.1), 
      0px 0px 0px 1px rgba(255, 255, 255, 0.05) inset;
  }
  
  .auth-tabs {
    display: flex;
    border-bottom: 1px solid #e5e7eb;
  }
  
  .auth-tabs button {
    flex: 1;
    padding: 1.25rem 0;
    text-align: center;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    cursor: pointer;
  }
  
  .auth-tabs button.active {
    border-bottom: 2px solid #3b82f6;
    color: #3b82f6;
  }
  
  .auth-tabs button:not(.active) {
    color: #6b7280;
  }
  
  .auth-tabs button:not(.active):hover {
    border-color: #d1d5db;
  }
  
  .auth-content {
    transition: all 0.5s ease-in-out;
    padding: 2.5rem;
  }
  
  .auth-input {
    width: 100%;
    margin-top: .7rem;
    margin-bottom: .7rem;
    padding: 0.5rem;
    border: 1px solid #e5e7eb;
    border-radius: 0.375rem;
    outline: none;
  }
  
  .auth-input:focus {
    border-color: #3b82f6;
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.3);
  }
  
  .auth-social {
    text-align: center;
    margin-top: 2.5rem;
  }
  
  .auth-social p {
    text-transform: uppercase;
    margin-bottom: 1.25rem;
    color: #9ca3af;
    font-size: 0.75rem;
  }
  
  .auth-social-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
 
  }
  
  .auth-social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem; 
    height: 3rem;
    border-radius: 50%;
    background-color: rgb(236, 236, 236);
    color: #4b5563;
    transition: all 0.3s ease-in-out;
  }
  
  .auth-social-links a:hover {
    color: white;
    background: linear-gradient(90deg, #00226b  0%, #2563eb 100%);

  }
  